@{
    ViewData["Title"] = "Error";
    ViewData["Menu"] = "navbar custom-navbar navbar-fixed-top top-nav-collapse";
}

<!-- FEATURE -->
<section id="feature" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="section-title" >
                    <div class="error-page">
                        <h2>@ViewData["Title"]</h2>
                        <h1 class="error-font">404</h1>
                        <div>
                            <p>
                                An error occurred while processing your request.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
