@{
    ViewData["Title"] = "Github";
    ViewData["Menu"] = "navbar custom-navbar navbar-fixed-top top-nav-collapse";
}

<!-- FEATURE -->
<section id="feature" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <h2>@ViewData["Title"]</h2>
                    <div>
                        <a href="https://github.com/przemyslaw-slowik/URL-Shortener">URL-Shortener</a>
                    </div>
                    <h2>Template</h2>
                    <div>
                        <a href="http://www.tooplate.com/view/2106-soft-landing">http://www.tooplate.com/view/2106-soft-landing</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
